.chatbox {
    -fx-background-color: #282a2e;
}

.spacing{
    -fx-start-margin: 20;
}
.label {

    /*-fx-background-color: #969896;*/
    -fx-text-fill: #FFFFFF;
}

.background {
    -fx-background-color: #333333;
}

.scrollPane .content{
    -fx-background-color: #282a2e;
}

.scroll-pane > .viewport {
    -fx-background-color: #282a2e;
}

.UserSelection {
    -fx-text-fill: #04231B;
    -fx-background-color: white;
}
.mainBackground{
    -fx-background-color: #1d1f21;
}
.textArea .content{
    -fx-background-color:  #282a2e;
}
.textArea{
    -fx-background-color:  #282a2e;
    -fx-text-fill: white;
}
.roomSelection{
    -fx-background-color: #282a2e;
}
.roomSelection .list-cell{
    -fx-background-color: #282a2e;
    -fx-text-fill: white;
}
.tab-pane{
    -fx-background-color: #282a2e;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #1d1f21;
}
.tab:selected{
    -fx-background-color: #2C1240;
}

.tab{
    -fx-background-color: #282a2e;
}
.tab .tab-label{
    -fx-text-fill: white;
}
.list-cell:even{
    -fx-background-color: #282a2e;
}
.list-cell:odd{
    -fx-background-color: #36383c;
}
.list-cell{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.list-cell:selected{
    -fx-background-color: #2C1240;
}
.Buttons{
    -fx-background-color:
            #090a0c,
            linear-gradient(#0A2F58 0%, #071423 20%, #09192b 100%),
            linear-gradient(#2c1240, #0f0813),
            radial-gradient(center 50% 0%, radius 100%, rgba(69, 48, 86, 0.9), rgba(7,20,35,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.ownMessage{
    -fx-background-color:#373b41; -fx-text-fill: #C5C8C6; -fx-background-radius: 6;
}
.serverMessage{
    -fx-background-color:#2C1240; -fx-text-fill: #C5C8C6; -fx-background-radius: 6;
}
.roomMessage{
    -fx-background-color:#2C1240; -fx-text-fill: #C5C8C6; -fx-background-radius: 6;
}