.chatbox{

    -fx-background-color:#333333;

}

.label{

    -fx-background-color:purple;
    -fx-text-fill:white;
}
.background{
    -fx-background-color:#333333;
}
.UserSelection{
    -fx-text-fill: #8F0900;
    -fx-background-color: white;
}
